<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <!--
    * Author:         BeiYuu
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="关注我" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Pengfei Shi's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Follow Me</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            
                    
                <a href="http://weibo.com/shipengfei92/" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
                <a href="https://github.com/shipengfei92" target="_blank" style="margin-left:-5px;"><img src="https://github.com/favicon.ico" alt="" width="25"/></a>
                <a href="https://www.linkedin.com/in/pengfei-shi-574b1799" target="_blank" style="margin-left:-5px;"><img src="https://www.linkedin.com/favicon.ico" alt="" width="25"/></a>
            
            
            <!--
            <iframe width="100%" height="300" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=300&fansRow=1&ptype=1&speed=0&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=5693412900&verifier=6a4e0925&dpc=1"></iframe>
        
            <wb:follow-button uid="5693412900" type="red_1" width="67" height="24" ></wb:follow-button>
            <a href="http://weibo.com/shipengfei92/" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
            -->
        </div>
    </div>

    {{ content }}

    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
    </script>
</body>
</html>
